
:root {
  --rotation-angle: 0deg;
  --rotation-speed: 10s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

svg {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: black;
}

@keyframes orbit {
  from {
    transform: rotate(var(--rotation-angle));
  }
  to {
    transform: rotate(calc(var(--rotation-angle) + 360deg));
  }
}

.planet {
  animation: orbit var(--rotation-speed) infinite linear;
  transform-origin: 50% 50%;
}